#!/bin/bash

RED='\033[0;31m'
GREEN='\033[0;32m'
NC='\033[0m' # No Color

prompt() {
  echo -e "\n$RED>>>$NC $*"
}
prompt "install Oh-My-Zsh"

if [ -d "$HOME/.oh-my-zsh" ]; then
    prompt "Oh-My-Zsh is already installed"
else
    prompt "install Oh-My-Zsh"
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
fi
# chsh -s /usr/bin/zsh
