#!/bin/bash

RED='\033[0;31m'
GREEN='\033[0;32m'
NC='\033[0m' # No Color

prompt() {
  echo -e "\n$RED>>>$NC $*"
}

prompt "symlink kb-layout 'gb_umlauts'"
sudo ln -s $HOME/.config/xkb/gb_umlauts /usr/share/X11/xkb/symbols/gb_umlauts

prompt "install 'nes' theme"
omarchy-theme-install https://github.com/bjarneo/omarchy-nes-theme

prompt "set kitty as terminal"
omarchy-install-terminal kitty
