#!/bin/bash

RED='\033[0;31m'
GREEN='\033[0;32m'
NC='\033[0m' # No Color

prompt() {
  echo -e "\n$RED>>>$NC $*"
}

# Keyboard UK-DE
prompt "symlink kb-layout 'gb_umlauts'"
sudo ln -s $HOME/.config/xkb/gb_umlauts /usr/share/X11/xkb/symbols/gb_umlauts
sudo ln -s $HOME/.config/xkb/us_umlauts /usr/share/X11/xkb/symbols/us_umlauts

# IWD as wifi_backend
prompt "set iwd as wifi backend"
sudo pacman -S --noconfirm --needed linux-firmware iwd
sudo systemctl disable wpa_supplicant
sudo systemctl enable --now iwd
echo -e "[device]\nwifi.backend=iwd" | sudo tee /etc/NetworkManager/conf.d/wifi_backend.conf
sudo systemctl restart NetworkManager

# install platformio
prompt "install platformio"

curl -fsSL -o get-platformio.py https://raw.githubusercontent.com/platformio/platformio-core-installer/master/get-platformio.py
python3 get-platformio.py

sudo ln -s ~/.platformio/penv/bin/platformio ~/.local/bin/platformio
sudo ln -s ~/.platformio/penv/bin/pio ~/.local/bin/pio
sudo ln -s ~/.platformio/penv/bin/piodebuggdb ~/.local/bin/piodebuggdb

# install tailscale wg-mesh-vpn
prompt "install tailscale"
curl -fsSL https://tailscale.com/install.sh | sh

