#!/bin/bash

RED='\033[0;31m'
GREEN='\033[0;32m'
NC='\033[0m' # No Color

prompt() {
  echo -e "\n$RED>>>$NC $*"
}

prompt "LET'S GO..."

pkg="arandr bat brave btop cmake curl dunst fzf git localsend nextcloud npm nvim python3 sshfs tmux udiskie yazi zsh"

arch_pkg="yay hyprland hyprpaper xdg-desktop-portal-hyprland hyprlock hypridle nwg-displays waybar walker elephant elephant-providerlist elephant-desktopapplications elephant-files elephant-runner elephant-websearch elephant-calc elephant-clipboard elephant-symbols wiremix bluetui impala battop"
deb_pkg=""

{{ if eq .chezmoi.osRelease.id "arch" "cachyos" -}}

prompt "ARCH BTW"
sudo pacman -Sy
for app in $arch_pkg $pkg; do
  (sudo pacman -S --noconfirm --needed $app >/dev/null && echo -e "${GREEN}DONE PACMAN${NC} install $app") || (yay -S --noconfirm --needed $app >/dev/null && echo -e "${GREEN}DONE YAY${NC} install $app") || aecho -e "${RED}ERROR${NC} install $app"
done

{{ else if eq .chezmoi.osRelease.id "debian" -}}

prompt "DEBIAN"
sudo apt update
for app in $deb_pkg $pkg; do
  (sudo apt-get install -y $prog >/dev/null && echo -e "${GREEN}DONE${NC} install $prog") || echo -e "${RED}ERROR${NC} install $prog"
done

{{ end -}}

if [ -d "$HOME/.oh-my-zsh" ]; then
    prompt "Oh-My-Zsh is already installed"
else
    prompt "install Oh-My-Zsh"
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
fi
# chsh -s /usr/bin/zsh
