/* if you want the tailscale-logo add 
 * @import "waybar-tailscale/tailscale.css";
 * to your style.css, don't use with "format-icons" in config.json */

#custom-tailscale {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 18px;
  margin: 0 7.5px;
  font-size: 18px;
}

/* if return is {"class": "connected"} */
#custom-tailscale.connected {
  background-image: url("icon/tailscale_on.png");
}

/* if return is {"class": "stopped"} */
#custom-tailscale.stopped {
  background-image: url("icon/tailscale_off.png");
}
